@{
    ViewData["Title"] = "Подбор студентов";
}
<h1>Списки студентов: </h1>
<div>
      
        @*<div>
        Id: @item.ID_User
        <br/>
        Login: @item.Login
            <br />
        Password: @item.Password
        </div>*@
        <table border="1">
            
            <tr>
                <th> Код студента </th>
                <th> Фамилия студента </th>
                <th> Имя студента </th>
                <th> Отчество студента </th>
                <th> Группа </th>
                <th> Специализация </th>
                <th> Почта </th>
                <th>Действие</th>
            </tr>
        @foreach (var item in @Model)
        {
            <tr>
                <td> @item.ID_Stud </td>


                <td> @item.FamiliaStud </td>
                <td> @item.NameStud </td>
                <td> @item.OtchStud </td>
                <td> @item.Gr </td>
                <td> @item.Specialization </td>
                <td> @item.Email </td>
                <td> <input type="button" value="Подробнее"/> </td>
                
            </tr>
            
          
            }
        </table>
    
    
</div>