@{
    ViewData["Title"] = "Подбор студентов";
}
<h1>Списки студентов: </h1>
<form method="post" asp-controller="Resume" asp-action="Check">

<div>
     
        @*<div>
        Id: @item.ID_User
        <br/>
        Login: @item.Login
            <br />
        Password: @item.Password
        </div>*@
        <table border="1">
            
            <tr>
                <th> Код студента </th>
               @* <th> Фамилия студента </th>
                <th> Имя студента </th>
                <th> Отчество студента </th>
                <th> Группа </th>*@
                <th> Специализация </th>
               @* <th> Почта </th>*@
                <th> Резюме </th>
            </tr>
        @foreach (var item in @Model)
        {
            <tr  >
                <td> @item.ID_Stud </td>


               @* <td> @item.FamiliaStud </td>
                <td> @item.NameStud </td>
                <td> @item.OtchStud </td>
                <td> @item.Gr </td>*@
                <td> @item.Specialization </td>
                @*<td> @item.Email </td>*@
                <td>

                    <input type="submit" value="Подробнее                             ." />
                </td>
                
            </tr>
            
          
            }
        </table>
    
    
</div>
</form>